
body{
    color: #3b424f;
    margin: 0px;
    text-align: center;
    background-color: white;
    font-family: 'Merriweather', serif;
}

h1{
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
}
h2{
    padding-bottom: 10px;
}
h4{
    font-family: cursive;
    font-size: 2rem; 
    margin-top: 10px;
}
span{
    color: #d1cfe2;
}
hr{
    border: dotted rgb(176, 203, 190) 6px;
    border-bottom: none;
    width: 5%;
    margin: 60px auto;
}
a{
    color: #1A3C40;
    margin: 10px 20px;
    text-decoration: none;
    font-size: medium;
}
a:hover{
    color: #ffffff;
    font-size: larger;
}
#darkModeToggle {
    background-color: #609EA2; /* Background color for the button */
    color: #cef7df;
    border: none;
    border-radius: 100%; /* Make the button circular */
    padding: 5px; /* Adjust padding to control button size */
    cursor: pointer;
    font-size: 12px; /* Adjust font size */
    position: absolute; /* Position the button absolutely within the top container */
    top: 10px; /* Adjust top value to move the button upward */
    right: 30px; /* Adjust left value to move the button to the left */
}

#darkModeToggle:hover {
    background-color: #154432;
}

.top-container {
    position: relative; /* Ensure the button is positioned relative to the top container */
}
body.dark-mode {
    background-color: #233b29;
    color: #ffffff;
}

.top-container.dark-mode {
    background-color: #051d17; /* Dark greenish-gray color for the top container */
    color: #ffffff; /* Text color in the top container in dark mode */
}
.circular{
    border-radius: 7%;
    margin: 20px;
}
.top-container{
    background-color: #B7E5DD;
    position: relative;
    padding-top: 150px;
    font-family: cursive,brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.upper-cld{
    
    position: absolute; 
    right: 280px;
    top : 210px;
}
.lower-cld{
    
    position: absolute; 
    left: 200px;
    bottom : 150px;   
}
.middle-container{
    margin: 100px 0 ;
}
.bottom-container{
   background-color: #599597;
   padding: 25px 0 20px;
}
.copyright{
    color: #ffffff;
    font-size: 10px;
    margin-top: 25px;
}
.contact-message{
    width: 38%;
    margin: 30px auto 45px;
}
.text{
    position: relative;
    bottom: 65px;
    color: #599597;
}
.pro{
    color: #597097;
}
.intro{
    width: 30%;
    margin: auto;
}
.skill-row1{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
}
.skill-row2{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: right;
}
.code1{
    border-radius: 30% 30% 30% 30%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}
.code2{
    border-radius: 30% 30% 30% 30%;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
}
.myskills{
    color: #599597;
}
/* Add this style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.btn {
    background: #609EA2;
    background-image: -webkit-linear-gradient(top, #609EA2, #7DB9B6);
    background-image: -moz-linear-gradient(top, #609EA2, #7DB9B6);
    background-image: -ms-linear-gradient(top, #609EA2, #7DB9B6);
    background-image: -o-linear-gradient(top, #609EA2, #7DB9B6);
    background-image: linear-gradient(to bottom, #609EA2, #7DB9B6);
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #7D9D9C;
    background-image: -webkit-linear-gradient(top, #7D9D9C, #68A7AD);
    background-image: -moz-linear-gradient(top, #7D9D9C, #68A7AD);
    background-image: -ms-linear-gradient(top, #7D9D9C, #68A7AD);
    background-image: -o-linear-gradient(top, #7D9D9C, #68A7AD);
    background-image: linear-gradient(to bottom, #7D9D9C, #68A7AD);
    text-decoration: none;
  }
